In [1]:
# This R environment comes with many helpful analytics packages installed
# It is defined by the kaggle/rstats Docker image: https://github.com/kaggle/docker-rstats
# For example, here's a helpful package to load

library(tidyverse) # metapackage of all tidyverse packages

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

list.files(path = "../input")

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

[1] "supermarket-revenue"

In [2]:
Super<-read_csv('/kaggle/input/supermarket-revenue/supermarket_sales -1.csv')

Rows: 1000 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): Invoice ID, Branch, City, Customer type, Gender, Product line, Dat...
dbl  (8): Unit price, Quantity, Tax 5%, Revenue, Cost of Goods Sold, gross m...
time (1): Time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
head(Super, 20)

   Invoice ID  Branch City      Customer type Gender Product line
1  750-67-8428 A      Yangon    Member        Female Health and beauty
2  226-31-3081 C      Naypyitaw Normal        Female Electronic accessories
3  631-41-3108 A      Yangon    Normal        Male   Home and lifestyle
4  123-19-1176 A      Yangon    Member        Male   Health and beauty
5  373-73-7910 A      Yangon    Normal        Male   Sports and travel
6  699-14-3026 C      Naypyitaw Normal        Male   Electronic accessories
7  355-53-5943 A      Yangon    Member        Female Electronic accessories
8  315-22-5665 C      Naypyitaw Normal        Female Home and lifestyle
9  665-32-9167 A      Yangon    Member        Female Health and beauty
10 692-92-5582 B      Mandalay  Member        Female Food and beverages
11 351-62-0822 B      Mandalay  Member        Female Fashion accessories
12 529-56-3974 B      Mandalay  Member        Male   Electronic accessories
13 365-64-0515 A      Yangon    Normal        Female Electronic accessories
14 252-56-2699 A      Yangon    Normal        Male   Food and beverages
15 829-34-3910 A      Yangon    Normal        Female Health and beauty
16 299-46-1805 B      Mandalay  Member        Female Sports and travel
17 656-95-9349 A      Yangon    Member        Female Health and beauty
18 765-26-6951 A      Yangon    Normal        Male   Sports and travel
19 329-62-1586 A      Yangon    Normal        Male   Food and beverages
20 319-50-3348 B      Mandalay  Normal        Female Home and lifestyle
   Unit price Quantity Tax 5%  Revenue  Date      Time     Payment Method
1  74.69       7       26.1415 548.9715 1/5/2019  13:08:00 Ewallet
2  15.28       5        3.8200  80.2200 3/8/2019  10:29:00 Cash
3  46.33       7       16.2155 340.5255 3/3/2019  13:23:00 Credit card
4  58.22       8       23.2880 489.0480 1/27/2019 20:33:00 Ewallet
5  86.31       7       30.2085 634.3785 2/8/2019  10:37:00 Ewallet
6  85.39       7       29.8865 627.6165 3/25/2019 18:30:00 Ewallet
7  68.84       6       20.6520 433.6920 2/25/2019 14:36:00 Ewallet
8  73.56      10       36.7800 772.3800 2/24/2019 11:38:00 Ewallet
9  36.26       2        3.6260  76.1460 1/10/2019 17:15:00 Credit card
10 54.84       3        8.2260 172.7460 2/20/2019 13:27:00 Credit card
11 14.48       4        2.8960  60.8160 2/6/2019  18:07:00 Ewallet
12 25.51       4        5.1020 107.1420 3/9/2019  17:03:00 Cash
13 46.95       5       11.7375 246.4875 2/12/2019 10:25:00 Ewallet
14 43.19      10       21.5950 453.4950 2/7/2019  16:48:00 Ewallet
15 71.38      10       35.6900 749.4900 3/29/2019 19:21:00 Cash
16 93.72       6       28.1160 590.4360 1/15/2019 16:19:00 Cash
17 68.93       7       24.1255 506.6355 3/11/2019 11:03:00 Credit card
18 72.61       6       21.7830 457.4430 1/1/2019  10:39:00 Credit card
19 54.67       3        8.2005 172.2105 1/21/2019 18:00:00 Credit card
20 40.30       2        4.0300  84.6300 3/11/2019 15:30:00 Ewallet
   Cost of Goods Sold gross margin percentage Gross Profit Rating
1  522.83             4.761905                26.1415      9.1
2   76.40             4.761905                 3.8200      9.6
3  324.31             4.761905                16.2155      7.4
4  465.76             4.761905                23.2880      8.4
5  604.17             4.761905                30.2085      5.3
6  597.73             4.761905                29.8865      4.1
7  413.04             4.761905                20.6520      5.8
8  735.60             4.761905                36.7800      8.0
9   72.52             4.761905                 3.6260      7.2
10 164.52             4.761905                 8.2260      5.9
11  57.92             4.761905                 2.8960      4.5
12 102.04             4.761905                 5.1020      6.8
13 234.75             4.761905                11.7375      7.1
14 431.90             4.761905                21.5950      8.2
15 713.80             4.761905                35.6900      5.7
16 562.32             4.761905                28.1160      4.5
17 482.51             4.761905                24.1255      4.6
18 435.66             4.761905                21.7830      6.9
19 164.01             4.761905                 8.2005      8.6
20  80.60             4.761905                 4.0300      4.4

**Key Points:** **Revenue,Total_quantity and Profit**

In [4]:
key_points<-Super%>%
summarise(Revenue= sum(Revenue), Total_quantity= sum(Quantity), Profit=sum(`Gross Profit`))
View(key_points)

  Revenue  Total_quantity Profit
1 322966.7 5510           15379.37

**Revenue and Profit By Branch**
Branch C generated the highest revenue and Profit

In [5]:
Branch_Revenue_Profit<-Super%>% group_by(Branch)%>%
summarise(Revenue= sum(Revenue),Profit=sum(`Gross Profit`))%>%arrange(-Revenue)
View(Branch_Revenue_Profit)

  Branch Revenue  Profit
1 C      110568.7 5265.176
2 A      106200.4 5057.160
3 B      106197.7 5057.032

**Revenue and Profit By product line**

Food and Beverages generated the highest while Health and Beauty got the lowest

In [6]:
Product_Line_Revenue_Profit<-Super%>% group_by(`Product line`)%>%
summarise(Revenue= sum(Revenue), Profit=sum(`Gross Profit`))%>%arrange(-Revenue)
View(Product_Line_Revenue_Profit)

  Product line           Revenue  Profit
1 Food and beverages     56144.84 2673.564
2 Sports and travel      55122.83 2624.896
3 Electronic accessories 54337.53 2587.501
4 Fashion accessories    54305.89 2585.995
5 Home and lifestyle     53861.91 2564.853
6 Health and beauty      49193.74 2342.559

**Payment Method Revenue**

Cash Payment

In [7]:
Payment_Method_Revenue<-Super%>% group_by(`Payment Method`)%>%
summarise(Revenue= sum(Revenue))%>%arrange(-Revenue)
View(Payment_Method_Revenue)

  Payment Method Revenue
1 Cash           112206.6
2 Ewallet        109993.1
3 Credit card    100767.1

**Customer type Revenue**

Member

In [8]:
Customer_Type_Revenue<-Super%>% group_by(`Customer type`)%>%
summarise(Revenue= sum(Revenue))%>%arrange(-Revenue)
View(Customer_Type_Revenue)

  Customer type Revenue
1 Member        164223.4
2 Normal        158743.3

**Revenue and Profit By Gender**

Female bought more goods than male

In [9]:
Gender_Revenue_Profit<-Super%>% group_by(Gender)%>%
summarise(Revenue= sum(Revenue),Profit=sum(`Gross Profit`))%>%arrange(-Revenue)
View(Gender_Revenue_Profit)

  Gender Revenue  Profit
1 Female 167882.9 7994.425
2 Male   155083.8 7384.944

**Quantity of Product line Sold**

Electronic Accessories were sold more than others.

In [10]:
Product_line_Quantity<-Super%>%group_by(`Product line`)%>%
summarise(Total_quantity =sum(Quantity))%>%arrange(-Total_quantity)
View(Product_line_Quantity)

  Product line           Total_quantity
1 Electronic accessories 971
2 Food and beverages     952
3 Sports and travel      920
4 Home and lifestyle     911
5 Fashion accessories    902
6 Health and beauty      854

**SUMMARY**

Food and Beverages generated the highest revenue for the supermarket while health and beauty Products generated the lowest.

Females bought more goods than males from the supermarket.

Branch C generated more revenue than other branches.

Members bought more goods than non members.

Cash Payment was used most for purchase.

Electronic accessories sold more product per quantity.

**RECOMMENDATIONS**

Stickers or adverts/Promotions should be made to promote health and beauty products

more products like gaming systems should be added to promote male patronage.

Branch A and B should increase customer care service.

members should be given special discount to encourage non members register as members.